<h2>Finding #<%= @finding.id %></h2>
<ul>
  <li>Scan ID: <a href="/admin/scans/<%= @finding.scan_id %>"><%= @finding.scan_id %></a></li>
  <li>Rule: <%= @finding.rule_id %></li>
  <li>Severity: <%= @finding.severity %></li>
  <li>File: <code><%= @finding.file_path %></code> : <%= @finding.line %></li>
</ul>

<h5 class="mt-3">Message</h5>
<pre class="p-3 bg-white border rounded"><%= @finding.message %></pre>

<% if @finding.fingerprint_hint.present? %>
  <h6>Fingerprint</h6>
  <code><%= @finding.fingerprint_hint %></code>
<% end %>
